{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error",
      {
        "devDependencies": [
          "**/*.test.tsx",
          "src/setupTests.ts"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
